In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('C:\\Users\\Jarvis\\Downloads\\Attrition.csv')

In [7]:
import tensorflow as tf
from sklearn.model_selection import  train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score

In [8]:
x=df.drop(columns = ['Attrition'],axis = 1 )
y=df['Attrition']

In [9]:
x.dtypes

Age                          int64
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [14]:
categorical_features = ['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Over18','OverTime']

In [15]:
x_encoded = pd.get_dummies(x,columns= categorical_features,drop_first=True)

In [16]:
x_encoded.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0,0,0,0,0,1,0,0,1,1
1,49,279,8,1,1,2,3,61,2,2,...,0,0,0,0,1,0,0,1,0,0
2,37,1373,2,2,1,4,4,92,2,1,...,1,0,0,0,0,0,0,0,1,1
3,33,1392,3,4,1,5,4,56,3,1,...,0,0,0,0,1,0,0,1,0,1
4,27,591,2,1,1,7,1,40,3,1,...,1,0,0,0,0,0,0,1,0,0

In [18]:
lb=LabelEncoder()
y_encoded =lb.fit_transform(y)

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x_encoded , y_encoded , test_size=0.2 , random_state=24)

In [20]:
x_train.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
1029,40,663,9,4,1,1449,3,81,3,2,...,1,0,0,0,0,0,0,0,0,0
202,34,878,10,4,1,277,4,43,3,1,...,0,0,0,0,1,0,0,0,0,1
1237,32,964,1,2,1,1734,1,34,1,2,...,0,0,0,0,0,1,0,0,1,0
558,32,430,24,4,1,772,1,80,3,2,...,1,0,0,0,0,0,0,1,0,0
699,52,1053,1,2,1,976,4,70,3,4,...,0,1,0,0,0,0,0,1,0,0

In [24]:
sc=StandardScaler()
x_train_scaled= sc.fit_transform(x_train)
x_test_scaled= sc.transform(x_test)

In [27]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(units=128,activation = 'relu',input_dim=x_train_scaled.shape[1]),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(units=64,activation='relu'),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(units=1,activation='sigmoid')
])

In [29]:
# compile the model
model.compile(optimizer = 'adam',
             loss= 'binary_crossentropy',
             metrics=['accuracy'])

In [32]:
model.fit(x_train_scaled , y_train, epochs=50 ,batch_size=8 ,validation_split=0.1)

Epoch 1/50
133/133 [==============================] - 3s 5ms/step - loss: 0.4582 - accuracy: 0.8138 - val_loss: 0.4214 - val_accuracy: 0.8136
Epoch 2/50
133/133 [==============================] - 0s 3ms/step - loss: 0.3624 - accuracy: 0.8592 - val_loss: 0.3870 - val_accuracy: 0.8475
Epoch 3/50
133/133 [==============================] - 0s 3ms/step - loss: 0.3164 - accuracy: 0.8771 - val_loss: 0.3773 - val_accuracy: 0.8390
Epoch 4/50
133/133 [==============================] - 0s 3ms/step - loss: 0.2951 - accuracy: 0.8885 - val_loss: 0.3810 - val_accuracy: 0.8559
Epoch 5/50
133/133 [==============================] - 0s 3ms/step - loss: 0.2810 - accuracy: 0.8941 - val_loss: 0.3850 - val_accuracy: 0.8390
Epoch 6/50
133/133 [==============================] - 0s 3ms/step - loss: 0.2441 - accuracy: 0.9102 - val_loss: 0.3812 - val_accuracy: 0.8390
Epoch 7/50
133/133 [==============================] - 0s 4ms/step - loss: 0.2442 - accuracy: 0.9112 - val_loss: 0.3832 - val_accuracy: 0.8475
Epoch 8/50
133/133 [==============================] - 0s 3ms/step - loss: 0.2321 - accuracy: 0.9112 - val_loss: 0.3846 - val_accuracy: 0.8475
Epoch 9/50
133/133 [==============================] - 0s 3ms/step - loss: 0.2246 - accuracy: 0.9121 - val_loss: 0.3791 - val_accuracy: 0.8475
Epoch 10/50
133/133 [==============================] - 0s 3ms/step - loss: 0.2142 - accuracy: 0.9272 - val_loss: 0.3838 - val_accuracy: 0.8475
Epoch 11/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1914 - accuracy: 0.9244 - val_loss: 0.4300 - val_accuracy: 0.8390
Epoch 12/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1825 - accuracy: 0.9338 - val_loss: 0.4279 - val_accuracy: 0.8390
Epoch 13/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1796 - accuracy: 0.9386 - val_loss: 0.4079 - val_accuracy: 0.8305
Epoch 14/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1591 - accuracy: 0.9405 - val_loss: 0.4371 - val_accuracy: 0.8390
Epoch 15/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1617 - accuracy: 0.9376 - val_loss: 0.4598 - val_accuracy: 0.8390
Epoch 16/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1539 - accuracy: 0.9405 - val_loss: 0.4545 - val_accuracy: 0.8305
Epoch 17/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1428 - accuracy: 0.9480 - val_loss: 0.4958 - val_accuracy: 0.8390
Epoch 18/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1377 - accuracy: 0.9499 - val_loss: 0.4775 - val_accuracy: 0.8220
Epoch 19/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1158 - accuracy: 0.9527 - val_loss: 0.5258 - val_accuracy: 0.8136
Epoch 20/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1438 - accuracy: 0.9405 - val_loss: 0.5641 - val_accuracy: 0.8305
Epoch 21/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1077 - accuracy: 0.9575 - val_loss: 0.5721 - val_accuracy: 0.8305
Epoch 22/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1154 - accuracy: 0.9527 - val_loss: 0.5246 - val_accuracy: 0.8305
Epoch 23/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1087 - accuracy: 0.9603 - val_loss: 0.5445 - val_accuracy: 0.8220
Epoch 24/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1071 - accuracy: 0.9603 - val_loss: 0.5893 - val_accuracy: 0.8220
Epoch 25/50
133/133 [==============================] - 0s 3ms/step - loss: 0.1022 - accuracy: 0.9631 - val_loss: 0.5949 - val_accuracy: 0.8220
Epoch 26/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0987 - accuracy: 0.9546 - val_loss: 0.5674 - val_accuracy: 0.8136
Epoch 27/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0741 - accuracy: 0.9735 - val_loss: 0.6570 - val_accuracy: 0.8475
Epoch 28/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0872 - accuracy: 0.9641 - val_loss: 0.6350 - val_accuracy: 0.8220
Epoch 29/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0868 - accuracy: 0.9679 - val_loss: 0.6490 - val_accuracy: 0.8220
Epoch 30/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0588 - accuracy: 0.9802 - val_loss: 0.6696 - val_accuracy: 0.8136
Epoch 31/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0615 - accuracy: 0.9773 - val_loss: 0.6155 - val_accuracy: 0.8136
Epoch 32/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0814 - accuracy: 0.9754 - val_loss: 0.5760 - val_accuracy: 0.8305
Epoch 33/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0840 - accuracy: 0.9707 - val_loss: 0.6192 - val_accuracy: 0.8220
Epoch 34/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0717 - accuracy: 0.9726 - val_loss: 0.6564 - val_accuracy: 0.8390
Epoch 35/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0685 - accuracy: 0.9745 - val_loss: 0.6958 - val_accuracy: 0.8220
Epoch 36/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0775 - accuracy: 0.9698 - val_loss: 0.7115 - val_accuracy: 0.8475
Epoch 37/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0755 - accuracy: 0.9688 - val_loss: 0.6728 - val_accuracy: 0.8220
Epoch 38/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0667 - accuracy: 0.9764 - val_loss: 0.6904 - val_accuracy: 0.8390
Epoch 39/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0722 - accuracy: 0.9754 - val_loss: 0.6962 - val_accuracy: 0.8305
Epoch 40/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0472 - accuracy: 0.9830 - val_loss: 0.7438 - val_accuracy: 0.8305
Epoch 41/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0443 - accuracy: 0.9896 - val_loss: 0.7745 - val_accuracy: 0.8220
Epoch 42/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0457 - accuracy: 0.9811 - val_loss: 0.7756 - val_accuracy: 0.8390
Epoch 43/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0454 - accuracy: 0.9839 - val_loss: 0.8374 - val_accuracy: 0.8220
Epoch 44/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0426 - accuracy: 0.9820 - val_loss: 0.8243 - val_accuracy: 0.8305
Epoch 45/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0372 - accuracy: 0.9887 - val_loss: 0.8481 - val_accuracy: 0.8220
Epoch 46/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0419 - accuracy: 0.9858 - val_loss: 0.8475 - val_accuracy: 0.8305
Epoch 47/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0517 - accuracy: 0.9783 - val_loss: 0.8354 - val_accuracy: 0.8305
Epoch 48/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0417 - accuracy: 0.9849 - val_loss: 0.8474 - val_accuracy: 0.8305
Epoch 49/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0533 - accuracy: 0.9802 - val_loss: 0.8313 - val_accuracy: 0.8390
Epoch 50/50
133/133 [==============================] - 0s 3ms/step - loss: 0.0344 - accuracy: 0.9877 - val_loss: 0.9422 - val_accuracy: 0.8475

In [34]:
loss , accuracy=model.evaluate(x_test_scaled ,y_test)

10/10 [==============================] - 0s 2ms/step - loss: 1.1237 - accuracy: 0.8469

In [35]:
print(f'Test Loss : {loss:.4f} , Test Accuracy: {accuracy:.4f}')

Test Loss : 1.1237 , Test Accuracy: 0.8469

In [39]:
predition = model.predict(x_test_scaled)

10/10 [==============================] - 0s 2ms/step